In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)

# Get all perverted-justice files

In [3]:
from os import listdir
from os.path import isfile, join
mypath = 'GeneralData'
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles.remove('chatlog.dtd')

### Labeling perv-just data

In [9]:
import warnings

def function_that_warns():
    warnings.warn("deprecated", DeprecationWarning)

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    df_all = pd.DataFrame()
    for file in onlyfiles:
        df= pd.read_xml(f'GeneralData/{file}').drop(columns=['COMMENT'])
        df=df[~df['BODY'].isna()]
        df=df[~df['USERNAME'].isna()]
        df['predator'] = 0
        df['predator'].loc[df['USERNAME'].str.contains(file.split('.xml')[0].lower())] = 1
        df_all=df_all.append(df)
df_all

,USERNAME,DATETIME,BODY,predator
0,armysgt1961,(7:02:01 pm),im dennis us army soldier from cincinnati,1
1,peekaboo1293,(7:02:30 pm),hi im becky from ky,0
2,armysgt1961,(7:02:35 pm),how old ru,1
3,peekaboo1293,(7:02:42 pm),13 how old ru,0
4,armysgt1961,(7:02:44 pm),u single,1
...,...,...,...,...
3588,wulfker_dragonslayer,01/20/07 1:29:08 PM,"ok baby, ill be on the road then",1
3589,13 year old girl,01/20/07 1:29:16 PM,okay luv u!! so much!!,0
3590,wulfker_dragonslayer,01/20/07 1:29:26 PM,me too baby,1
3591,13 year old girl,01/20/07 1:29:29 PM,bye,0
3592,wulfker_dragonslayer,01/20/07 1:29:37 PM,bye,1

In [18]:
df_all.to_csv('PJdata.csv',index=False)